################ Networking ####################
## Listen address (default: listen on all interfaces)
network.listen.address = localhost

## Control
network.listen.controlDataPort = 4000

## Backend
repository.type =test 

repository.libvirt.port = 16509
